body {
					background-color: aliceblue;
				}
				.center {
					text-align: center;
					color: darkred;
				}
				.pic {
					display: block;
					margin-inline: auto;
					width: min(90%, 100%);
				}
				.wait {
					display: block;
					margin-inline: auto;
					width: 30%;
				}

				.container{
					margin-inline: auto;
					width: min(90%, 70.5rem);
				}

				a.buttons {
					background-color: #738090 ;
					color: white;
					padding: 1rem;
					font-size: 16px;
					border: none;
					position: absolute;
					left: 45%;
					text-decoration:none;
				}
				.buttons:hover {
					box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
				}
				.disabled {
					background-color: #738090;
					color: white;
					padding: 1rem;
					font-size: 16px;
					border: none;
					position: absolute;
					left: 40%;
					opacity: 0.6;
					cursor: not-allowed;
					text-decoration:none;
				}
				


				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					background-color: #738090;
					border-radius: 25px;
				}
				li {
					float: left;
				}
				li a, .dropbtn {
					display: inline-block;
					color: white;
					text-align: center;
					padding: 14px 16px;
					text-decoration: none;
					transition-duration: 0.4s;
				}
				li a:hover, .dropdown:hover .dropbtn {
					background-color: gainsboro;
				}
				li.dropdown {
					display: inline-block;
				}
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: white;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
				}
				.dropdown-content a {
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					text-align: left;
				}
				.dropdown-content a:hover {
					background-color: #f1f1f1;
				}
				.dropdown:hover .dropdown-content {
			  		display: block;
				}
				.active {
					background-color: #04AA6D;
				}